* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.sapxep {
    font-family: 'Lato', sans-serif;
}

body {
    font-family: 'Lato', sans-serif;
}

select#filter-category {
}
.gm-style .gm-style-iw-c{
    max-width: 265px !important;
}

.tt-wish {
    border: 1px solid;
    margin-top: 7px;
    padding: 11px;
}

.wishlist.highlight {
    opacity: 1;
    visibility: visible;
    transition: 0.4s;
}

.wishlist {
    position: absolute;
    z-index: 2;
    background: #009688;
    color: white;
    padding: 4%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 81%;
    height: 65%;
    overflow: scroll;
    font-size: 13px;
    opacity: 0;
    visibility: hidden;
    transition: 0.4;
}

.wishlist .hightlight {
    opacity: 1;
    visibility: visible !important;
}

.nut-wishlist {
    position: fixed;
    right: 3px;
    z-index: 2;
    width: 35px;
    height: 35px;
    background: #009688;
    color: white;
    text-align: center;
    line-height: 42px;
    cursor: pointer;
    top: 50%;
    border-radius: 51px;
}

.nut-wishlist i {
    font-size: 27px;
}
p{
    margin-bottom: 8px !important;
}
p.time, .mota {
    font-size: 12px;
}

.price {
    color: #FF9800;
}

p.address {
    font-size: 13px;
}

p.name {
    font-size: 14px;
    font-weight: bold;
}

.lienhe{
    color: blue;
}

.detail{
    color: #fff !important;
    margin-left: 5px;
}


div#detail {
    /* height: 216px; */
    overflow: scroll;
    position: absolute;
    z-index: 22;
    left: 50%;
    top: 15%;
    color: #030304;
    font-size: 14px;
    font-weight: bold;
}
#detail ul:last-child{
    display:block;
}
#detail ul{
    display:none;
}

div#detail ul li {
    background: repeating-linear-gradient(45deg, #e91e638c, transparent 100px);
}

.close{
    border-radius: 50px !important;
    /* background: #FF5722 !important; */
    height: 22px;
    /*color: white !important;*/
    width: 22px;
    line-height: 20px !important;
    text-align: center;
    display: block;
}

.close i {
    font-size: 24px;
    /*background: black;*/
}

.form-search {
    width: 69%;
    margin: auto;
    position: absolute;
    z-index: 4;
    background: white;
    padding: 15px;
    font-size: 13px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border: 1px solid #808080b8;
    border-radius: 5px;
    box-shadow: 1px 2px 12px;
    visibility: hidden;
    opacity: 0;
}

.form-search.show {
    visibility: visible;
    opacity: 1;
}

.form {
    position: fixed;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.menu_header {
    background: #009688;
    top: 0;
    z-index: 9999;
    width: 100%;
    text-align: center;
}

.sapxep select {
    border: 1px solid ghostwhite;
    border-radius: 3px;
    font-size: 13px;
    font-weight: 600;
    color: #009688;
}

.footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    height: 60px;
    background: #009688;
    line-height: 50px;
    font-family: 'Lato', sans-serif;
}

.danhmuc {
    border: 1px solid #ccc;
    border-width: 1px 0;
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
    color: white;
    font-family: 'Lato', sans-serif;
}

.danhmuc li {
    display: inline-block;
}

.danhmuc a {
    display: inline-block;
    padding: 0 5px;
    color: white;
    font-weight: bold;
    font-size: 12px;
}
.danhmuc i{
    margin: auto;
    display: block;
    font-size: 21px;
    transform: translateY(14px);
}
input {
    width: 50%;
    text-indent: 10px;
    font-size: 13px !important;
}

/* profile */
.edit-info .basic-info{
    /*margin: 30px 0;*/
    padding: 10px 30px;
    position: relative;
    border-radius: 10px;
    background: #fff;
}
.edit-info .basic-info .title-basic .img-basic{
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 1px 4px 1px #ddd;
    display: inline-block;
    position: relative;
    margin: 0 0 20px 0;
    top: 0;
    left: 0;
    width: 120px;
    height: 120px;
    padding: 5px;
    margin-bottom: 10px;
}
.edit-info .basic-info .title-basic .img-basic img{
    border-radius: inherit;
    width: 100%;
    height: 100%;
    max-width: 100%;
    vertical-align: middle;
    object-fit: cover;
}
.edit-info .basic-info .title-basic .img-basic label{
    background: white;
    position: absolute;
    top: 5px;
    right: 0px;
    border-radius: 50%;
    -webkit-box-shadow: 0 1px 5px 2px #ddd;
    box-shadow: 0 1px 5px 2px #ddd;
    color: #ff9100;
    width: 35px;
    height: 35px;
    line-height: 35px;
    font-size: 15px;
}
.edit-info .basic-info .title-basic .img-basic label .cspoint{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    width: 45px;
    height: 45px;
    opacity: 0;
    outline: none;
    vertical-align: middle;
}
.edit-info .basic-info .title-basic h1{
    font-family: 'OpenSans-Bold';
    text-transform: uppercase;
    font-size: 21px;
    margin-bottom: 15px;
    font-weight: bold;
}
.mg-5 {
    margin-right: -5px;
    margin-left: -5px;
}
.pd5 {
    padding-left: 5px;
    padding-right: 5px;
}
.w-100{
    width: 100%;
}
.marbot15{
    margin-bottom: 8px;
}
.edit-info .basic-info form label{
    margin-bottom: 8px;
}
.edit-info .basic-info form h3{
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: initial;
}
.edit-info .basic-info form label input{
    height: 35px;
}
.edit-info .basic-info form label input, .edit-info .basic-info form label textarea{
    border-radius: 5px;
    border: 1px solid #dbd9d9;
    /*padding-left: 12px;*/
    padding-right: 12px;
    outline: none;
}
textarea {
    padding: 8px 12px 5px 12px;
}
.edit-info .basic-info form select{
    border-radius: 5px;
    border: 1px solid #ebebeb;
    width: 100%;
    height: 35px;
    padding-left: 8px;
    padding-right: 8px;
}
.edit-info .basic-info form .btn-save{
    padding: 0 50px;
    background: #ff9100;
    border-radius: 30px;
    font-size: 18px;
    font-family: 'OpenSans-Bold';
    height: 35px;
    color: #fff;
    font-size: 14px;
    border: none;
}
#main .container{
    height: 83.5vh
}
.star-rating {
    margin: 0px 0px 10px 0px;
    font-size: 13px;
}
.star-base {
    display: inline-block;
    vertical-align: middle;
    height: 16px;
    background: url(../images/gray.png);
    font-size: 0 !important;
    position: relative;
}
.star-base .star-rate {
    background: url(../images/orange.png);
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    pointer-events: none;
}
.star-base a {
    display: inline-block;
    width: 16px;
    height: 16px;    
}
.notifications{
    position: absolute;
    top: 2px;
    right: 2px;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    font-size: 13px;
    background: red;
    color: #fff;
    border-radius: 50%;
}
@media (max-width: 375px){
    .danhmuc a{
        font-size: 11px;
    }
    #main .container{
        height: 85vh;
    }
}
@media (max-width: 360px){
    .danhmuc a{
        font-size: 10px
    }
    #main .container{
        height: 81.2vh
    }
}
@media (max-width: 320px){
    .danhmuc a{
        font-size: 9px
    }
    #main .container{
        height: 78.7vh
    }
}